@media screen and (max-width:1520px) {
    .banner-img img {
        margin-right: -162px;
    }

    .complex-left {
        left: -100px;
    }

    .transaction {
        right: -100px;
    }

    .legend {
        right: -100px;
    }
}

@media screen and (max-width:1350px) {
    .banner-img img {
        margin-right: -50px;
    }

    .complex-left {
        left: -23px;
    }

    .legend {
        right: -50px;
    }

    .transaction {
        right: -50px;
    }

}

@media screen and (max-width:1200px) {
    .banner-img img {
        margin-right: 0px;
    }

    .complex-left {
        left: 0px;
    }

    .legend {
        right: -45px;
    }

    .transaction {
        right: -45px;
    }
}

@media screen and (max-width:1169px) {


    #banner {
        padding-top: 90px;
    }

    .body .fixed-header {
        padding-top: 10px;
    }

    .banner-technology h6 {
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .banner-technology h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .banner-technology h2 {
        font-size: 38px;
        line-height: 44px;
    }

    .banner-line {
        width: 300px;
        margin: 15px 0;
    }

    .banner-technology p {
        font-size: 15px;
        line-height: 23px;
        padding-bottom: 28px;
    }

    .get-btn a {
        width: 150px;
        height: 100%;
        font-size: 18px;
        padding: 15px 17px;
    }

    .banner-img {
        height: 100%;
        margin-top: 50px;
    }

    .get-btn-main {
        column-gap: 15px;
        padding-bottom: 95px;
    }

    #walmart {
        margin: 70px 0;
    }

    .walmart-main {
        gap: 20px;
    }

    .walmart-blog {
        width: calc(25% - 15px);
    }

    .walmart-img img {
        max-width: 60%;
    }

    .complex-left {
        top: 0;
    }

    .complex-left-blog-img img {
        max-width: 95%;
    }

    .complex-right-blog h5 {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 10px;
    }

    .complex-right-blog h3 {
        font-size: 40px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    .complex-right-blog p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
        max-width: 100%;
    }

    .certified-main {
        column-gap: 25px;
        padding-bottom: 25px;
    }

    .certified-circle h2 {
        font-size: 17px;
        line-height: 27px;
    }

    .transaction {
        width: 330px;
        padding: 15px;
        right: -25px;
    }

    .transaction h4 {
        font-size: 18px;
        padding-bottom: 13px;

    }

    .monica-main {
        column-gap: 6px;
    }

    .legend {
        width: 195px;
        height: 50px;
        top: 138px;
        right: -20px;
        gap: 20px;
    }

    .legend-text {
        padding-right: 0;
    }

    .legend-circle {
        width: 60px;
        height: 60px;
        top: -7px;
        left: 14px;
    }

    .legend-circle .count-box {
        font-size: 10px;
        padding: 10px;
    }

    .legend-text h3 {
        font-size: 14px;
    }

    .clients-main {
        padding-top: 64px;
        padding-bottom: 36px;
    }

    .clients-main {
        gap: 20px;
    }

    .projects {
        width: calc(25% - 15px);
        padding: 50px 13px;
    }

    .projects h2 {
        font-size: 40px;
        padding-bottom: 25px;
    }

    .projects h4 {
        font-size: 16px;
        line-height: 15px;
    }

    #clients::before {
        top: 18px;
    }

    #clients::after {
        bottom: -38px;
    }

    .people-main {
        padding: 60px 0;
        gap: 20px;
    }

    .col-people {
        width: calc(33.33% - 13.3px);
        padding: 20px;
    }

    .people-blog h5 {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .people-blog h3 {
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 15px;
    }

    .people-text h4 {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 8px;
    }

    .people-blog>p {
        font-size: 14px;
        padding-bottom: 0;
        line-height: 23px;
    }

    .people-text p {
        font-size: 13px;
    }

    .review-main {
        padding-top: 50px;
    }

    .review-blog h2 {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
    }

    .review-blog p {
        font-size: 15px;
        line-height: 15px;
        max-width: 100%;
    }

    .say-about-text h3 {
        font-size: 25px;
        line-height: 25px;
    }

    .lorem {
        margin-top: 75px;
        padding: 15px;
    }

    .davit {
        width: 330px;
        padding: 20px 0 20px 20px;
    }

    .davit h3 {
        font-size: 23px;
        line-height: 30px;
    }

    .davit p {
        font-size: 17px;
    }

    .lorem-img {
        padding-bottom: 45px;
    }

    .lorem p {
        font-size: 15px;
        line-height: 24px;
    }

    .say-icon-main {
        margin-top: 35px;
    }

    .say-rectengle-img {
        width: 100px;
        height: 100px;
    }

    .say-rectengle-img img {
        width: 100%;
    }

    .say-about-main {
        padding-top: 55px;
        padding-bottom: 60px;
    }

    .extra-contant h2 {
        font-size: 26px;
    }

    .monthly-main {
        width: 240px;
        padding: 10px 15px;
        gap: 10px;
    }

    .monthly-main .get-btn a {
        font-size: 14px;
        width: 100px;
        padding: 10px 17px;
    }

    .standerd-contant {
        padding: 0 50px 30px 50px;
    }

    .standerd-img h3 {
        font-size: 26px;
        line-height: 30px;
        padding-top: 10px;
    }

    .standerd-img h2 {
        font-size: 70px;
        line-height: 85px;
    }

    .standerd-img h4 {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 0;
    }

    .monthly-blog {
        column-gap: 13px;
        padding-bottom: 8px;
    }

    .monthly-blog-main {
        padding-left: 71px;
        padding-bottom: 15px;
    }

    .monthly-pack a {
        width: 260px;
        font-size: 16px;
        margin: 0 auto;
    }

    .standerd-img::after {
        left: 136px;
    }

    .every-main {
        margin-top: 140px;
    }

    .every-main {
        padding: 44px 0;
    }

    .every-text h5 {
        line-height: 19px;
        padding-bottom: 15px;
    }

    .every-text h2 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 35px;
    }

    .email-box {
        width: 450px;
    }

    .email-box .get-btn a {
        width: 140px;
        height: auto;
        padding: 12px 15px;
        font-size: 15px;
    }

    .email-input input {
        height: auto;
        padding: 12px 15px 12px 10px;
    }

    #sellzee {
        margin-top: 75px;
    }

    .sellzee-img {
        padding-bottom: 15px;
    }

    .sellzee-contant h3 {
        font-size: 19px;
        line-height: 25px;
        padding-bottom: 13px;
    }

    .sellzee-contant ul li {
        padding-bottom: 5px;
    }

    .sellzee-contant ul li a {
        font-size: 15px;
        line-height: 17px;
    }

    .extra-main {
        padding-top: 35px;
    }
}

@media screen and (max-width:991px) {
    .navigation ul{
       column-gap: 20px;
    }
    .navigation ul li a {
        font-size: 14px;
    }
    .logo img{
        max-width: 80%;
        display: block;
    }
    .get-btn a{
        width: 100px;
        height: auto;
        font-size: 14px;
        padding: 10px 9px ;
    }
    .banner-technology h6 {
        font-size: 15px;
        line-height: 11px;
        padding-bottom: 8px;
    }
    .banner-technology h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .banner-technology h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .banner-line {
        width: 220px;
        margin: 10px 0;
    }
    .banner-technology p{
        line-height: 20px;
        padding-bottom: 25px;
    }
    .get-btn-main{
        padding-bottom: 65px;
    }
    .banner-img img{
        max-width: 90%;
    }
    #walmart {
        margin: 50px 0;
    }
    .walmart-img a{
        height: 59px;
    }
    .complex-main{
        column-gap:40px ;
    }
    .complex-right-blog h5 {
        font-size: 13px;
        line-height: 7px;
        padding-bottom: 7px;
    }
    .complex-right-blog h3 {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 15px;
    }
    .complex-right-blog p {
        line-height: 18px;
        padding-bottom: 10px;
    }
    .certified-circle{
        column-gap: 10px;
    }
    .certified-circle h2{
        font-size: 15px;
    }
    .certified-main {
        column-gap: 15px;
        padding-bottom: 15px;
    }
    .legend {
        width: 165px;
        height: 45px;
        top: 77px;
        right: 2px;
        gap: 15px;
    }
    .legend-text {
        gap: 10px;
    }
    .legend-circle{
        top: -8px;
        left: 9px;
    }
    .transaction {
        width: 300px;
        right: -9px;
    }
    .transaction h4 {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .monica-main {
        column-gap: 10px;
    }
    .monica-circle {
        width: calc(15% - 5.3px);
    }
    .monica-circle img {
        min-height: 33px;
        display: block;
        max-width: 95%;
    }
    .monica span {
        font-size: 11px;
    }
    .complex-left-blog-img img {
        max-width: 90%;
    }
    .send {
        height: 30px;
        padding: 0 6px;
    }
    .jhon input{
        font-size: 18px;
    }
    .mike{
        font-size: 18px;
    }
    .transfer button{
        width: 125px;
        padding: 8px 7px 8px 7px;
        font-size: 11px;
        
    }
    .clients-main {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    #clients::after{
        width: auto;
        height: auto;
        left: -46px;
        top: 160px;
        right: 40px;
        bottom: 0;
    }
    #clients::before {
        width: auto;
        height: auto;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 19px;
    }
    .projects h4{
        font-size: 14px;
    }
    .projects h2 {
        font-size: 30px;
    }

    .col-people {
        width: calc(50% - 10px);
        padding: 20px;
    }
    .review-main {
        padding-top: 35px;
    }
    .review-blog h2 {
        font-size: 35px;
        line-height: 30px;
        padding-bottom: 17px;
    }
    .say-about-main {
        padding: 40px 0;
    }
    .say-about-text h3 {
        font-size: 20px;
        line-height: 21px;
    }
    .davit {
        width: 210px;
        padding: 15px 0 16px 15px;
    }
    .davit h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .lorem p {
        font-size: 14px;
        line-height: 20px;
    }
    .say-rectengle-img {
        width: 80px;
        height: 80px;
    }
    .say-img {
        left: -20px;
    }
    .say-rectengle-img img {
        display: block;
        object-fit: scale-down;
        max-width: 60%;
    }
    .say-rectengle-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .extra-main {
        padding-top: 20px;
    }
    .extra-contant h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .extra-contant {
        padding-bottom: 10px;
    }
    .extra-main {
        padding-bottom: 200px;
    }
    .standerd-contant {
        padding: 0 20px 20px 18px;
    }
    .standerd-img h3 {
        font-size: 23px;
        line-height: 25px;
        padding-top: 5px;
    }
    .standerd-img h2 {
        font-size: 55px;
        line-height: 70px;
    }
    .every-main {
        margin-top: 75px;
        padding: 30px 0;
    }
    .every-text h5 {
        line-height: 13px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .every-text h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 25px;
    }
    .every-main::before {
        top: -35px;
        right: 55px;
    }
    .every-main::after{
        top: -20px;
    }
    #sellzee {
        margin-top: 44px;
    }
    .sellzee-main{
        padding-top: 45px;
    }
    .sellzee-img {
        padding-bottom: 5px;
    }
    .sellzee-img img{
        max-width: 65%;
    }
    .sellzee-cricle-main{
        column-gap: 7px;
    }
    .sellzee-cricle a{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:767px) {
    .navigation ul {
        display: none;
    }
    .manu-icon{
        display: block;
    }
    .banner-line{
        width: 420px;
    }
    #banner {
        padding-top: 90px;
    }
    .manu-icon{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .manu-icon span{
        width: 100%;
        height: 3px;
        background: #fff;
        margin-left: auto;
        transition: all ease 0.5s;
    }
    .manu-icon:before, 
    .manu-icon:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        height: 3px;
        background: #fff;
        width: 100%;
        transition: all ease 0.5s;
    }
    .manu-icon:after{
        top: 23px;
    }
    /* .navigation ul.open-sub-manu{
        display: block;
    } */
    
    .navigation ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        padding: 20px 0;
    }
    .navigation ul li {
        padding: 0;
    }
    .navigation ul li a {
        display: block;
        padding: 0 15px;
        line-height: 35px;
        color: #000;
    }
    .open-sub-manu .manu-icon span{
        width: 0;
    }
    .open-sub-manu .manu-icon:after {
        transform: rotate(-45deg);
        top: 13px;
    }
    .open-sub-manu .manu-icon::before {
        transform: rotate(45deg);
        top: 12px;
    }
    

    .standerd-main{
        flex-wrap: wrap;
    }
    .walmart-blog {
        width: calc(33.3% - 13.3px);
    }
    #walmart {
        margin: 30px 0;
    }
    .complex-main{
        flex-wrap: wrap;
        gap: 40px;
    }
    .legend {
        top: 172px;
        right: 19px;
    }
    .complex-left{
        width: 100%;
    }
    .complex-right {
        width: 100%;
    }
    .transaction{
        right: 7px;
        bottom: -7px;
    }
    .clients-main {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .clients-main {
        gap: 15px;
    }
    .projects{
        width: calc(50% - 7.5px);
    }
    .projects h2 {
        padding-bottom: 18px;
    }
    .people-blog h5 {
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 8px;
    }
    .people-blog h3 {
        font-size: 22px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .standerd-main{
        gap: 20px;
    }
    .every-main {
        margin-top: 60px;
        padding: 25px 0;
    }
    .every-text h2 {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 18px;
    }
    .email-box {
        width: 300px;
        padding: 5px;
    }
    .email-box .get-btn a{
        width: 90px;
        font-size: 12px;
    }
    #sellzee {
        margin-top: 30px;
    }
    .sellzee-main {
        padding-top: 35px;
        justify-content: unset;
        flex-wrap: wrap;
        gap: 15px;
    }
    .coll-sellzee{
        width: calc(50% - 7.5px);
    }
    .say-about-main{
        flex-wrap: wrap;
        gap: 15px;
    }
    .say-about-left {
        width: 100%;
    }
    .say-about-img {
        width: 100%;
    }
    .say-img {
        left: 0;
    }
    .say-img img{
        max-width: 85%;
    }
    .say-rectengle-img{
        top: 11px;
        right: 92px;
    }
    .monthly-contant h4{
        font-size: 14px;
        line-height: 18px;
    }
    .monthly-blog-main {
        padding-left: 36px;
        padding-bottom: 8px;
    }
    .complex-left-blog-img img {
        max-width: 80%;
    }
    .banner-main{
        flex-wrap: wrap;
    }
    .banner-technology {
        width: 100%;
        margin-top: 0px;
        padding-top: 20px;
    }
    .banner-img{
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width:575px) {
    .banner-line {
        width: auto;
    }
    #banner {
        padding-top: 75px;
    }
    .banner-technology h6{
        font-size: 12px;
    }
    .banner-technology h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .banner-technology h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .banner-line {
        width: 236px;
    }
    .get-btn-main {
        padding-bottom: 20px;
    }
    .banner-img {
        padding-bottom: 10px;
    }
    .walmart-blog{
        width: 100%;
    }
    .complex-left-blog-img img{
        max-width: 100%;
    }
    .transaction {
        right: 0px;
        bottom: -85px;
    }
    .complex-main{
        gap: 117px;
    }
    .legend {
        width: 175px;
        top: 139px;
        right: 7px;
    }
    .complex-right-blog h5 {
        font-size: 13px;
        line-height: 25px;
        padding-bottom: 0;
    }
    .complex-right-blog h3 {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 8px;
    }
    .complex-right-blog p{
        font-size: 13px;
    }
    .certified-circle h2 {
        font-size: 13px;
    }
    .projects {
        width: 100%;
    }
    .col-people{
        width: 100%;
    }
    .review-blog p {
        font-size: 13px;
        line-height: 15px;
    }
    .lorem-img {
        padding-bottom: 19px;
    }
    .davit{
        top: -64px;
    }
    .say-icon-main {
        margin-top: 7px;
    }
    .say-icon{
        width: 25px;
        height: 25px;
    }
    .say-img img{
        max-width: 100%;
    }
    .say-rectengle-img {
        width: 60px;
        height: 60px;
        top: 3px;
        right: 0;
    }
    .extra-contant h2 {
        max-width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
    .standerd-img::after {
        left: 113px;
        top: 6px;
    }
    .every-text h2 {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 16px;
        max-width: 83%;
        margin: 0 auto;
    }
    .review-blog h2 {
        font-size: 25px;
        line-height: 17px;
        padding-bottom: 14px;
    }
    .email-box {
        width: 220px;
    }
    .email-box .get-btn a {
        width: 66px;
        font-size: 10px;
    }
    .email-input input {
        padding: 12px 8px 9px 6px;
    }
    .every-main::after {
        top: -11px;
        left: 17px;
        right: 20px;
    }
    .every-main::before {
        top: -24px;
        right: 44px;
        left: 39px;
    }
    .sellzee-main{
        gap: 25px;
    }
    .coll-sellzee{
        width: 100%;
    }
    .sellzee-contant h3 {
        font-size: 17px;
        line-height: 15px;
        padding-bottom: 8px;
    }
    .people-main {
        padding: 10px 0;
        gap: 8px;
    }
    .standerd-images img{
        max-width: 50%;
    }
    
}